.orders {
    width: 100%;
}

.orders ul {
    list-style: none;
}

.orders .header h2 {
    max-width: 1440px;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 20px auto;
    padding: 0 16px;
}

.orders .main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 16px;
}

.orders .no-orders {
    text-align: center;
    width: 100%;
    padding: 48px 0;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
}

.orders .main .filter-wrapper {
    padding: 8px;
    background-color: #f1f1f1;
    position: sticky;
    top: 49px;
    z-index: 10;
}

.orders .main .filter {
    display: flex;
    height: 48px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.0);
    transition: .3s;
    overflow: hidden;
}

.orders .main .filter:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.orders .main .filter select {
    padding: 8px;
}

.orders .main .filter .limit {
    border-left: 1px solid rgba(0, 0, 0, 0.1);;
}

.orders .main .filter .search {
    flex: 1 1;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.orders .main .filter .search input {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0 8px;
}

.orders .main .filter .search input:focus + label {
    transform: scale(1.4);
    fill: rgba(0, 0, 0, 0.6);
}

.orders .main .filter label {
    display: flex;
    fill: rgba(0, 0, 0, 0.2);
    margin-right: 8px;
    transition: .3s;
}

.orders .main .filter label svg {
    pointer-events: none;
}

.orders .main .filter input:focus, .orders .main .filter select:focus {
    outline: 0 transparent none;
}

.orders .main .list {
    margin: 0 16px;
    list-style: none;
}

.orders .main .list .item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 8px;
}

.orders .main .list .item .top {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    margin-bottom: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.orders .main .list .item .top.blue {
    background-color: #6464ff;
    color: white;
}

.orders .main .list .item .top figure, .orders .main .list .item .top figure figcaption, .orders .main .list .item .top figure figcaption a {
    color: inherit;
}

.orders .main .list .item .top .left {
    display: flex;
    flex: 1 1;
    color: inherit;
}

.orders .main .list .item .top .right {
    display: flex;
    align-items: center;
    text-align: right;
    color: inherit;
    margin-left: 16px;
}

.orders .more {
    position: relative;
    display: flex;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    height: fit-content;
    padding: 4px;
    fill: white;
    margin-left: 8px;
}

.orders .more.invert {
    background-color: rgba(0, 0, 0, 0.05);
    fill: #1f1f1f;
}

.orders .more .dropdown {
    position: absolute;
    z-index: 10;
    right: 8px;
    top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    max-height: 0;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    transition: .3s;
}

.orders .more:hover .dropdown {
    max-height: 76px;
}

.orders .more .dropdown .arrow {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #4f4f4f;
}

.orders .more .dropdown .actions {
    background-color: #4f4f4f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: left;
    overflow: hidden;
}

.orders .more .dropdown .actions li {
    background-color: transparent;
    font-weight: 500;
    padding: 8px 12px;
    color: #f1f1f1;
    white-space: nowrap;
    cursor: pointer;
    transition: .3s;
}

.orders .more .dropdown .actions li a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    font-weight: inherit;
}

.orders .more .dropdown .actions li:hover {
    background-color: #3f3f3f;
}

.orders .more .dropdown .actions li a:hover {
    text-decoration: none !important;
}

.orders .main .list .item .top .right a:hover {
    text-decoration: underline;
}

.orders .main .list .item .top figure p {
    font-weight: 500;
    white-space: nowrap;
    color: inherit;
}

.orders .main .list .item .top .head {
    margin-left: 16px;
}

.orders .main .list .item .bottom {
    margin: 0 8px;
}

.orders .main .list .item .bottom .seller {
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.08);
}

.orders .main .list .item .bottom .seller .top {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders .main .list .item .bottom .seller .top .right {
    display: flex;
}

.orders .main .list .item .bottom .seller .top p {
    font-weight: 500;
}

.orders .main .list .item .bottom .seller .bottom .item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.orders .main .list .item .bottom .seller .bottom .item .right {
    display: flex;
}

.orders .main .list .item .bottom .seller .bottom .item .left {
    display: flex;
    font-size: .8rem;
}

.orders .main .list .item .bottom .seller .bottom .item .left a {
    display: flex;
}

.orders .main .list .item .bottom .seller .bottom .item .left img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-right: 8px;
    outline: 2px solid transparent;
    transition: .3s;
}

.orders .main .list .item .bottom .seller .bottom .item .left .details {
    margin: auto;
}

.orders .main .list .item .bottom .seller .bottom .item .left .details a:hover p {
    text-decoration: underline;
}

.orders .main .list .item .bottom .seller .bottom .item .left a:hover img {
    outline: 2px solid #6464ff6e;
}

.orders .main .list .item .bottom .seller .bottom .item .left .details p {
    font-weight: 500;
}

.orders .main .list .item .bottom .seller .bottom .item .left .details span {
    font-weight: 500;
    margin: 0 4px 0 8px;
}

.orders .main .list .item .bottom .seller .bottom .item .left .details span:first-of-type {
    font-weight: 500;
    margin-left: 0;
}

.orders .main .list .item .bottom .seller .bottom .item .right {
    margin: auto 0;
    justify-content: flex-end;
    text-align: right;
    font-size: .8rem;
}

.orders .main .list .item .bottom .seller .bottom .item .right span {
    font-weight: 500;
}

.orders .main .payment {
    display: flex;
    justify-content: center;
    background-color: #e69600;
    padding: 8px;
    color: white;
    fill: white;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: .3s;
}

.orders .main .payment:hover {
    background-color: #d88c00;
}

.orders .main .payment:active {
    background-color: #c98200;
}

.orders .main .payment p {
    font-weight: 600;
    margin-left: 8px;
}

.orders .head.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

@media only screen and (max-width: 880px) {
    .orders .head.postage {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .orders .head.add {
        display: none;
    }
}

@media only screen and (max-width: 560px) {
    .orders .details .total {
        display: none;
    }

    .orders .head.total {
        display: none;
    }

    .orders .list .item .top.blue {
        align-items: center;
    }

    .orders .id {
        font-size: .6rem;
    }

    .orders .head.status span {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .orders .main .seller .bottom .item .left .details {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 400px) {
    .orders .main .seller .bottom .item .right .status {
        font-size: .6rem;
    }

    .orders .main .seller .top .total {
        display: none;
    }
}

@media only screen and (max-width: 352px) {
    .orders .main .filter .limit {
        display: none;
    }
    
    .orders .main .seller .bottom .item .right .status {
        display: none;
    }
    
    .orders .head.order-id {
        margin-left: 0 !important;
    }
    
    .orders .head.order-id p {
        display: none;
    }
}

.orders .details .top {
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.orders .details .top .max {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    padding: 8px 16px;
    margin: 0 auto;
}

.orders .details .top p {
    font-weight: 400;
}

.orders .details .top .left:nth-of-type(1) {
    margin-right: 16px;
}

.orders .details .top .right:nth-of-type(1) {
    text-align: right;
}

.orders .details .customer {
    margin: 8px auto;
    padding: 16px 16px 16px 0;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.orders .customer .title {
    font-weight: 500;
    font-size: .9rem !important;
    line-height: 1.8;
}

.orders .details .customer .delivery {
    flex: 1;
    margin-right: 16px;
    padding: 8px 8px 8px 16px;
    background-color: #f1f1f1;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 0 none transparent;
}

.orders .details .customer .delivery p {
    font-size: .8rem;
}

.orders .details .customer .price {
    width: 100%;
    max-width: 200px;
}

.orders .details .customer .price .figure {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: .8rem;
}

.orders .details .customer .price .figure p:nth-of-type(1) {
    font-size: .6rem;
    font-weight: 500;
    margin-right: 8px;
}

.orders .details .payment {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.orders .details .payment p {
    width: 100%;
    height: 100%;
    padding: 8px;
    max-width: 1280px;
    text-align: center;
    background-color: #6464ff;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders .details .payment .action {
    background-color: #e69600;
    cursor: pointer;
}

.orders .details .payment .action:hover {
    background-color: #d88c00;
}

.orders .details .payment .action:active {
    background-color: #c98200;
}

.orders .details .cancel-order {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.orders .details .cancel-order p {
    width: 100%;
    height: 100%;
    padding: 8px;
    max-width: 1280px;
    text-align: center;
    background-color: white;
    font-weight: 600;
    color: #6464ff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #6464ff;
    cursor: pointer;
}

.orders .details .cancel-order p:hover {
    color: #ff2020;
    border: 2px solid #ff2020;
}

.orders .details .cancel-order p:active {
    color: #e20000;
    border: 2px solid #e20000;
}

.orders .details .payment svg {
    margin-right: 8px;
    fill: white;
}

.orders .details .sellers {
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orders .details .sellers .seller {
    height: fit-content;
    width: 100%;
    max-width: 1280px;
    margin: 8px;
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.orders .details .sellers .seller .top {
    padding: 8px;
    border-top: 0 none transparent;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
}

.orders .details .sellers .seller .top p {
    font-weight: 500;
}

.orders .details .sellers .seller .top p:nth-of-type(2) {
    font-weight: 500;
    text-align: right;
}

.orders .details .sellers .seller .bottom .notifications {
    display: flex;
    flex-wrap: wrap;
    margin: 0 8px;
}

.orders .details .sellers .seller .bottom .notifications li {
    padding: 2px 12px;
    background-color: #6464ff;
    color: white;
    font-size: .7rem;
    font-weight: 500;
    border-radius: 12px;
    margin: 8px 8px 0 0;
    white-space: nowrap;
    border: 2px solid #6464ff;
    cursor: pointer;
    height: fit-content;
}

.orders .details .sellers .seller .bottom .notifications li a {
    color: white;
    font-size: .7rem;
    font-weight: 500;
}

.orders .details .sellers .seller .bottom .notifications li.done {
    background-color: transparent;
    color: #6464ff;
    border: 2px solid #6464ff;
    cursor: text;
}

.orders .details .sellers .seller .bottom .notifications li:last-of-type {
    margin: 8px 0 0 0;
}

.orders .details .sellers .seller .bottom .items {
    padding: 0 8px;
}

.orders .details .sellers .seller .bottom .items li {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.orders .details .sellers .seller .bottom .items li .left {
    display: flex;
    flex: 1 1;
}

.orders .details .sellers .seller .bottom .items li .left a {
    display: flex;
    align-items: center;
}

.orders .details .sellers .seller .bottom .items li .left a img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 4px;
}

.orders .details .sellers .seller .bottom .items li .left .item-details {
    margin: 0 8px;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orders .details .sellers .seller .bottom .items li .left .item-details p {
    font-weight: 500;
}

.orders .details .sellers .seller .bottom .items li .left .item-details p span {
    font-weight: 500;
    margin: 0 4px 0 8px;
}

.orders .details .sellers .seller .bottom .items li .left .item-details p span:first-of-type {
    margin: 0 4px 0 0;
}

.orders .details .sellers .seller .bottom .items li .right {
    display: flex;
}

.orders .details .sellers .seller .bottom .items li .right .action {
    font-size: .7rem;
    font-weight: 500;
    padding: 2px 12px;
    background-color: #6464ff;
    color: white;
    text-align: center;
    border-radius: 12px;
    height: fit-content;
    border: 2px solid #6464ff;
    margin-left: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.orders .details .sellers .seller .bottom .items li .right .action a {
    color: white;
    font-weight: 500;
}

.orders .details .sellers .seller .bottom .items li .right .action.done {
    background-color: transparent;
    color: #6464ff;
    border: 2px solid #6464ff;
    cursor: text;
}

.underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.align-right {
    text-align: right;
}

.max {
    max-width: 1280px;
}

.done.orange {
    background-color: #e69600;
    color: #e69600;
    border-color: #e69600;
}

@media only screen and (max-width: 720px) {
    .orders .details .sellers .seller .bottom .items li {
        flex-direction: column;
    }

    .orders .details .sellers .seller .bottom .items li .right {
        flex-wrap: wrap;
    }

    .orders .details .sellers .seller .bottom .items li .right .action {
        margin: 8px 8px 0 0;
    }

    .orders .details .sellers .seller .bottom .items li .right .action:last-of-type {
        margin-right: 0;
    }
}

@media only screen and (max-width: 564px) {
    .orders .details .top .max {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 400px) {
    .orders .details .customer.max {
        flex-direction: column;
    }

    .orders .details .customer .price {
        margin-top: 16px;
        max-width: none;
        padding-left: 16px;
    }

    .orders .details .customer .price .align-right {
        text-align: left;
    }

    .orders .details .top .max {
        font-size: .6rem;
    }

    .orders .details .sellers .seller .bottom .items li .left .item-details {
        font-size: .6rem;
    }
}