.app.header.section.item .search.search-bar-enter {
    max-width: 31px;
    background-color: transparent;
    border: 1px solid transparent;
}

.app.header.section.item .search.search-bar-enter-active {
    max-width: 320px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.app.header.section.item .search.search-bar-enter-done {
    max-width: 320px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.app.header.section.item .search.search-bar-exit {
    max-width: 320px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.app.header.section.item .search.search-bar-exit-active {
    max-width: 31px;
    border: 1px solid transparent;
    background-color: transparent;
}

.app.header.section.item .search.search-bar-enter {
    max-width: 31px;
    background-color: transparent;
    border: 1px solid transparent;
}


.app.header.section.item #search.search-bar-enter {
    padding: 0;
}

.app.header.section.item #search.search-bar-input-enter-active {
    padding: 4px 0px 4px 8px;
    transition: .3s;
}

.app.header.section.item #search.search-bar-input-enter-done {
    padding: 4px 0px 4px 8px;
}

.app.header.section.item #search.search-bar-input-exit {
    padding: 4px 0px 4px 8px;
}

.app.header.section.item #search.search-bar-input-exit-active {
    padding: 0;
    transition: .3s;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: .5s;
}

.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: .5s;
}

.slide-enter {
    transform: translateX(-100%);
}

.slide-enter-active {
    transform: translateX(0);
    transition: .5s;
}

.slide-enter-done {
    transform: translateX(0);
}

.slide-exit {
    transform: translateX(0);
}

.slide-exit-active {
    transform: translateX(-100%);
    transition: .5s;
}



.next-enter {
    transform: translateX(-100%) scale(0);
    opacity: 0;
}

.next-enter-active {
    transform: translateX(0%) scale(100%);
    transition: .5s;
    opacity: 100%;
}

.next-enter-done {
    transform: translateX(0%) scale(100%);
    opacity: 100%;
}

.next-exit {
    transform: translateX(0%) scale(100%);
    opacity: 100%;
}

.next-exit-active {
    transform: translateX(100%) scale(0);
    transition: .5s;
    opacity: 0;
}

.next-exit-done {
    transform: translateX(100%) scale(0);
    opacity: 0;
}


.back-enter {
    transform: translateX(100%) scale(0);
    opacity: 0;
}

.back-enter-active {
    transform: translateX(0%) scale(100%);
    transition: .5s;
    opacity: 100%;
}

.back-enter-done {
    transform: translateX(0%) scale(100%);
    opacity: 100%;
}

.back-exit {
    transform: translateX(0%) scale(100%);
    opacity: 100%;
}

.back-exit-active {
    transform: translateX(-100%) scale(0);
    transition: .5s;
    opacity: 0;
}

.back-exit-done {
    transform: translateX(-100%) scale(0);
    opacity: 0;
}



.grow-enter {
    height: 0px;
    margin: 0 0 0;
}

.grow-enter-active {
    height: 40px;
    transition: .5s;
    margin: 0 0 16px;
}

.grow-enter-done {
    height: 40px;
    margin: 0 0 16px;
}

.grow-exit {
    height: 40px;
    margin: 0 0 16px;
}

.grow-exit-active {
    height: 0px;
    transition: .5s;
    margin: 0 0 0;
}

.grow-exit-done {
    height: 0px;
    margin: 0 0 0;
}



.grow-down-enter {
    max-height: 0;
    padding-bottom: 0;
}

.grow-down-enter-active {
    max-height: 44px;
    padding-bottom: 8px;
    transition: .5s;
}

.grow-down-enter-done {
    max-height: 44px;
    padding-bottom: 8px;
}

.grow-down-exit {
    max-height: 44px;
    padding-bottom: 8px;
}

.grow-down-exit-active {
    max-height: 0;
    padding-bottom: 0;
    transition: .5s;
}

.grow-down-exit-done {
    max-height: 0;
    padding-bottom: 0;
}



.grow-down2-enter {
    max-height: 0;
}

.grow-down2-enter-active {
    max-height: 58px;
    transition: .5s;
}

.grow-down2-enter-done {
    max-height: 58px;
}

.grow-down2-exit {
    max-height: 58px;
}

.grow-down2-exit-active {
    max-height: 0;
    transition: .5s;
}

.grow-down2-exit-done {
    max-height: 0;
}



.grow-down3-enter {
    max-height: 0;
    margin: 0 8px;
    overflow: hidden;
}

.grow-down3-enter-active {
    max-height: 620px;
    margin: 8px;
    transition: .5s;
    overflow: hidden;
}

/* .grow-down3-enter-done {

} */

.grow-down3-exit {
    max-height: 620px;
    margin: 8px;
    overflow: hidden;
}

.grow-down3-exit-active {
    max-height: 0;
    margin: 0 8px;
    transition: .5s;
    overflow: hidden;
}

/* .grow-down3-exit-done {
    max-height: 0;
    margin: 0 8px;
    overflow: hidden;
} */



.grow-down4-enter {
    max-height: 0;
    overflow: hidden;
}

.grow-down4-enter-active {
    max-height: 320px;
    overflow: hidden;
    transition: .5s;
}

.grow-down4-enter-done {
    max-height: 320px;
    overflow: hidden;
}

.grow-down4-exit {
    max-height: 320px;
    overflow: hidden;
}

.grow-down4-exit-active {
    max-height: 0;
    overflow: hidden;
    transition: .5s;
}

.grow-down4-exit-done {
    max-height: 0;
    overflow: hidden;
}