.modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    z-index: 50;
}

.modal-loading {
    height: 100%;
    width: 100%;
    max-height: 256px;
    max-width: 256px;
    padding: 16px;
    fill: rgba(41, 41, 41, 0.5);
}