.new-product {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.new-product .card {
    background-color: #f1f1f1;
    width: 100%;
    max-width: 640px;
    height: 100%;
    max-height: 1024px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.new-product .card .header {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
}

.new-product .card .header .tabs {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    list-style: none;
}

.new-product .card .header .tabs .item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 32px;
    font-weight: 600;
    background-color: rgb(230, 150, 0);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.new-product .card .header button {
    display: flex;
    background-color: transparent;
}

.new-product .card .header svg {
    height: 56px;
    width: 56px;
    padding: 16px;
    fill: rgba(0, 0, 0, 0.2);
}

.new-product .card .header button:hover svg {
    fill: rgba(0, 0, 0, 0.4);
}

.new-product .card .header button:active svg {
    fill: rgba(0, 0, 0, 0.6);
}

.new-product .card .form {
    padding: 0 16px;
    overflow-y: auto;
    max-height: calc(100% - 72px);
}

.new-product .card .form h2 {
    font-size: 1rem;
    margin: 16px 0;
}

.new-product .card .form .columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.new-product .card .form .columns .column {
    width: calc(50% - 8px);
}

.new-product .card .form .columns .column select {
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
    font-weight: 500;
}

.new-product .items {
    display: flex;
    justify-content: space-between;
}

.new-product .items .actions {
    display: flex;
    align-items: center;
}

.new-product .items .actions .action {
    display: flex;
    margin: 8px;
    fill:rgba(0, 0, 0, 0.2);
}

.new-product .items .actions .action:hover {
    fill:rgba(0, 0, 0, 0.4);
}

.new-product .items .actions .action:active {
    fill:rgba(0, 0, 0, 0.6);
}

.new-product .items .actions .action svg {
    padding: 4px;
}

.new-product .items .actions p {
    font-weight: 500;
    width: 24px;
    text-align: center;
}

.new-item {
    display: flex;
    flex-direction: column;
}

.new-item input, .new-item textarea {
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
    font-weight: 500;
    resize: none;
}

.new-item .numbers {
    display: flex;
    justify-content: space-between;
}

.new-item .numbers input {
    width: calc(50% - 8px);
}

.new-item .attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-item .attributes .datalist {
    width: calc(33% - 4px);
    max-width: calc(50% - 8px);
}

.new-product .active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    margin: 8px 0;
}

.new-product .active label {
    font-weight: 500;
}

.new-product .active .switch {
    min-width: 60px;
    margin-left: 16px;
    width: fit-content;
}

.new-product .actions {
    display: flex;
    justify-content: flex-end;
}