.auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.auth .register {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth .third {
    width: 100%;
    max-width: 640px;
    display: block;
    margin: 0 auto;
    font-size: .8rem;
}

.auth .third.r {
    max-width: 800px;
}

.auth .third .party {
    margin: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 44px;
    overflow: hidden;
    width: calc(100% - 32px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    transition: .2s;
}

.auth .third .party:disabled {
    filter: grayscale(.8);
}

.auth .third .party:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.auth .third .party:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.auth .third.r .party .container {
    width: 192px;
    pointer-events: none;
}

.auth .third .party .container {
    display: flex;
    align-items: center;
    color: inherit;
    width: 174px;
}

.auth .third .party p {
    font-weight: 500;
    flex: 1 1;
    text-align: center;
    white-space: nowrap;
}

.auth .third .party.google {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.auth .third .party.facebook {
    background-color: #4267B2;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.auth .third .party svg {
    margin-right: 16px;
}

.auth.form {
    height: auto;
    display: block;
    padding: 0px 16px;
    max-width: 800px;
}

.auth.form.login {
    max-width: 640px;
}

.auth.form input, .auth.form textarea {
    background-color: rgb(250, 250, 250);
}

.auth.form.double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auth.form.double.input {
    flex-direction: column;
    max-width: calc(50% - 8px);
    margin: 0;
}

.auth.form.double, .auth.form.single {
    margin-top: 4px;
    position: relative;
    padding: 0px;
}

.auth.form .show {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 8px;
    bottom: 8px;
    fill:rgba(50, 50, 50, 0.6);
}

.auth.form.subscribe {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auth.form.subscribe label {
    margin-right: 16px;
}

.auth input, .auth textarea {
    padding: 8px 16px;
    width: 100%;
}

.auth textarea {
    height: calc(5rem + 16px);
}

.auth label {
    width: 100%;
}

.auth input:checked + .slider {
    background-color: rgb(30, 30, 30);
}

.auth.form.actions {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 16px;
}

.auth.form.actions.login {
    margin-top: 16px;
}

.auth.form.actions .button {
    margin: 0 12px 0 0;
}

.auth.form .incorrect {
    font-size: .6rem;
    position: absolute;
    font-weight: bold;
    color: rgb(200, 0, 0);
    transform: translateY(2px);
}

.auth .link-wrapper {
    width: 100%;
    max-width: 768px;
    display: block;
    margin: 16px auto 0;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth .link-wrapper.login {
    max-width: 608px;
}

.auth .link-wrapper p {
    font-weight: 400;
}

.auth .link-wrapper a {
    margin-left: 4px;
    font-weight: 600;
}

.auth .link-wrapper a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 560px) {
    .auth.form.double.input {
        max-width: 100%;
    }

    .auth.form.double {
        flex-direction: column;
    }
}