.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 73px);
}

.carousel.select {
    position: absolute;
    display: flex;
    justify-content: center;
}

.carousel.select.marker {
    position: relative;
    width: 32px;
    height: 4px;
    margin: 16px 8px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    outline: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 20;
    transition: .5s;
}

.carousel.select.marker.selected {
    background-color: rgba(255, 255, 255, 0.6);
    outline: 2px solid rgba(0, 0, 0, 0.3);
}

.carousel.card {
    position: absolute;
}

.carousel.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    pointer-events: none;
}

.carousel.card .text {
    width: 100%;
    max-width: 480px;
    position: absolute;
    top: 0;
    font-weight: 600;
}

.carousel.card .text p, .carousel.card .text h2 {
    font-weight: inherit;
    color: inherit;
}

.carousel.card .text p {
    font-weight: 400;
}

.carousel.card .text a {
    position: relative;
}

.carousel.card.cycle-enter {
    transform: translateX(-100%);
}

.carousel.card.cycle-enter-active {
    transform: translateX(0%);
    transition: .5s;
}

.carousel.card.cycle-enter-done {
    transform: translateX(0%);
}

.carousel.card.cycle-exit {
    transform: translateX(0%);
}

.carousel.card.cycle-exit-active {
    transform: translateX(100%);
    transition: .5s;
}

.carousel.card.cycle-exit-done {
    transform: translateX(100%);
}