.tile {
    margin: 8px;
    display: flex;
    background-color: white;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.tile .top {
    display: flex;
    flex: 1 1;
}

.tile .img {
    flex: 0 0 192px;
    height: 192px;
    padding: 8px;
}

.tile .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.tile .data {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.tile .data .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1;
}

.tile .data h3 {
    font-weight: 500;
    font-size: 1rem;
}

.tile .data .rating {
    display: flex;
    height: fit-content;
}

.tile .data .rating span {
    font-size: .8rem;
    font-weight: 500;
    margin-left: 4px;
}

.tile .data .price {
    font-weight: 700;
    font-size: 1.2rem;
}

.tile .data .seller {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.tile .data .seller p {
    font-weight: 500;
    font-size: .9rem;
    margin-right: 8px;
}

.tile .data .attributes {
    font-size: .7rem;
    word-spacing: .1rem;
}

.tile .data .attributes span {
    font-weight: 500;
}

.tile .actions {
    display: block;
    width: 220px;
    margin: 0 8px;
}

.tile .actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 40px;
    width: 100%;
    white-space: nowrap;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

.tile .actions .bag {
    background-color: #6464ff;
    color: white;
}

.tile .actions .bag:hover {
    background-color: #4747ff;
}

.tile .actions .bag:active {
    background-color: #3232ff;
}

.tile .actions .remove:hover {
    background-color: #e69600;
    color: white;
}

.tile .actions .remove:active {
    background-color: #b89c00;
}

.tile .actions .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: .8rem;
    margin: 8px 0;
    padding: 0 8px;
    background-color: rgba(0, 0, 0, 0.03);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.tile .actions .quantity b {
    font-weight: 500;
    margin-right: 4px;
}

.tile .actions .quantity input {
    width: 40px;
    height: 36px;
    padding-left: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tile .actions .quantity input:focus {
    outline: 0 none transparent;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

.tile .actions .quantity .price {
    flex: 1 1;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}

.tile .actions .quantity .price span {
    font-weight: 600;
}

@media only screen and (max-width: 880px) {
    .tile {
        flex-direction: column;
    }
    .tile .img {
        padding-bottom: 0;
    }

    .tile .top .data {
        margin-bottom: 0;
    }

    .tile .actions {
        display: flex;
        width: 100%;
        margin: 0;
    }

    .tile .actions button {
        flex: 1 1 50%;
        margin: 8px;
    }
}

@media only screen and (max-width: 620px) {
    .tile .top {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .tile .actions {
        display: block;
    }
    
    .tile .actions button {
        width: calc(100% - 16px);
    }
}