.my-shop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.my-shop svg, .my-shop p {
    pointer-events: none;
}

.my-shop.manage {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.my-shop.manage.header {
    height: 56px;
    width: 100%;
    background-color: #e0e0e0;
    flex-direction: row;
    position: sticky;
    top: 49px;
    z-index: 29;
}

.my-shop.manage.header.logo {
    height: 56px;
    width: fit-content;
    min-width: 56px;
    background-color: rgb(100, 100, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.my-shop.manage.header.logo.active {
    border-bottom: 4px solid white;
}

.my-shop.manage.header.logo svg {
    fill: #dadada;
    height: 36px;
    width: 36px;
    transition: .3s;
}

.my-shop.manage.header.logo:hover svg {
    fill: #f1f1f1;
}

.my-shop.manage.header.actions.item {
    align-items: center;
    padding: 0 16px;
    cursor: context-menu;
    width: fit-content;
    transition: .3s;
    min-width: 56px;
}

.my-shop.manage.header.actions.item.active {
    border-bottom: 4px solid #1f1f1f;
    background-color: rgba(255, 255, 255, 0.2);
}

.my-shop.manage.header.actions.item:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.my-shop.manage.header.actions.item p {
    margin-left: 8px;
    font-weight: 600;
}

.my-shop.manage.main {
    height: 100%;
    position: relative;
}

.my-shop.manage.main .notifications {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 400px;
}

.my-shop.manage.main .notifications .item {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
}

.my-shop.manage.main .notifications .item svg {
    min-height: 36px;
    min-width: 36px;
    margin-right: 16px;
}

.my-shop.manage.main .notifications .item p {
    font-size: .8rem;
    font-weight: 500;
}

.shop {
    padding: 16px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-shop .page .main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 16px;
}

.my-shop .page .main ul {
    list-style: none;
}

.my-shop .page .no-orders {
    text-align: center;
    width: 100%;
    padding: 48px 0;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
}

.my-shop .page .main .filter-wrapper {
    background-color: #f1f1f1;
    padding: 8px;
    position: sticky;
    top: 105px;
    z-index: 10;
}

.my-shop .page .main .filter {
    display: flex;
    height: 48px;
    padding: 0 8px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.0);
    transition: .3s;
}

.my-shop .page .main .filter:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.my-shop .page .main .filter select {
    padding: 8px;
}

.my-shop .page .main .filter .limit {
    border-left: 1px solid rgba(0, 0, 0, 0.1);;
}

.my-shop .page .main .filter .search {
    flex: 1 1;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-left: 8px;
}

.my-shop .page .main .filter .search input {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0 8px;
}

.my-shop .page .main .filter .search input:focus + label {
    transform: scale(1.4);
    fill: rgba(0, 0, 0, 0.6);
}

.my-shop .page .main .filter label {
    display: flex;
    fill: rgba(0, 0, 0, 0.2);
    margin-right: 8px;
    transition: .3s;
}

.my-shop .page .main .filter label svg {
    pointer-events: none;
}

.my-shop .page .main .filter input:focus, .my-shop .page .main .filter select:focus {
    outline: 0 transparent none;
}

.my-shop .page .main .list {
    margin: 0 16px;
    list-style: none;
}

.my-shop .page .main .list .item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 8px;
}

.my-shop .page .main .list .item .top {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    margin-bottom: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.my-shop .page .main .list .item .top.blue {
    background-color: #d69b00;
    color: white;
}

.my-shop .page .main .list .item .top figure, .my-shop .page .main .list .item .top figure figcaption, .my-shop .page .main .list .item .top figure figcaption a {
    color: inherit;
}

.my-shop .page .main .list .item .top .left {
    display: flex;
    flex: 1 1;
    color: inherit;
}

.my-shop .page .main .list .item .top .right {
    display: flex;
    align-items: center;
    text-align: right;
    color: inherit;
    margin-left: 16px;
}

.my-shop .page .more {
    position: relative;
    display: flex;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    height: fit-content;
    padding: 4px;
    fill: white;
    margin-left: 8px;
}

.my-shop .page .more.invert {
    background-color: rgba(0, 0, 0, 0.05);
    fill: #1f1f1f;
}

.my-shop .page .more .dropdown {
    position: absolute;
    z-index: 10;
    right: 8px;
    top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    max-height: 0;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.6));
    transition: .3s;
}

.my-shop .page .more:hover .dropdown {
    max-height: 110px;
}

.my-shop .page .more .dropdown .arrow {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #4f4f4f;
}

.my-shop .page .more .dropdown .actions {
    background-color: #4f4f4f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: left;
    overflow: hidden;
}

.my-shop .page .more .dropdown .actions li {
    background-color: transparent;
    font-weight: 500;
    padding: 8px 12px;
    color: #f1f1f1;
    white-space: nowrap;
    cursor: pointer;
    transition: .3s;
}

.my-shop .page .more .dropdown .actions li a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    font-weight: inherit;
}

.my-shop .page .more .dropdown .actions li:hover {
    background-color: #3f3f3f;
}

.my-shop .page .more .dropdown .actions li a:hover {
    text-decoration: none !important;
}

.my-shop .page .main .list .item .top .right a:hover {
    text-decoration: underline;
}

.my-shop .page .main .list .item .top figure p {
    font-weight: 500;
    white-space: nowrap;
    color: inherit;
}

.my-shop .page .main .list .item .top .head {
    margin-left: 16px;
}

.my-shop .page .main .list .item .bottom {
    margin: 0 8px;
}

.my-shop .page .main .list .item .bottom .seller {
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.08);
}

.my-shop .page .main .list .item .bottom .seller .top {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-shop .page .main .list .item .bottom .seller .top .right {
    display: flex;
}

.my-shop .page .main .list .item .bottom .seller .top p {
    font-weight: 500;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .right {
    display: flex;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left {
    display: flex;
    font-size: .8rem;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left a {
    display: flex;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-right: 8px;
    outline: 2px solid transparent;
    transition: .3s;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left .details {
    margin: auto;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left .details a:hover p {
    text-decoration: underline;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left a:hover img {
    outline: 2px solid #6464ff6e;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left .details p {
    font-weight: 500;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left .details span {
    font-weight: 500;
    margin: 0 4px 0 16px;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .left .details span:first-of-type {
    font-weight: 500;
    margin-left: 0;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .right {
    margin: auto 0;
    justify-content: flex-end;
    text-align: right;
    font-size: .8rem;
}

.my-shop .page .main .list .item .bottom .seller .bottom .item .right span {
    font-weight: 500;
}

.my-shop .page .main .payment {
    display: flex;
    justify-content: center;
    background-color: #e69600;
    padding: 8px;
    color: white;
    fill: white;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: .3s;
}

.my-shop .page .main .payment:hover {
    background-color: #d88c00;
}

.my-shop .page .main .payment:active {
    background-color: #c98200;
}

.my-shop .page .main .payment p {
    font-weight: 600;
    margin-left: 8px;
}

.my-shop .page .head.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

@media only screen and (max-width: 880px) {
    .my-shop .page .head.postage {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .my-shop .page .head.add {
        display: none;
    }
}

@media only screen and (max-width: 560px) {
    .my-shop .page .details .total {
        display: none;
    }

    .my-shop .page .head.total {
        display: none;
    }

    .my-shop .page .list .item .top.blue {
        align-items: center;
    }

    .my-shop .page .id {
        font-size: .6rem;
    }

    .my-shop .page .head.status span {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .my-shop .page .main .seller .bottom .item .left .details {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 400px) {
    .my-shop .page .main .seller .bottom .item .right .status {
        font-size: .6rem;
    }

    .my-shop .page .main .seller .top .total {
        display: none;
    }
}

@media only screen and (max-width: 352px) {
    .my-shop .page .main .filter .limit {
        display: none;
    }
    
    .my-shop .page .main .seller .bottom .item .right .status {
        display: none;
    }
    
    .my-shop .page .head.order-id {
        margin-left: 0 !important;
    }
    
    .my-shop .page .head.order-id p {
        display: none;
    }
}