.menu-button {
    position: relative;
    width: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-button.line {
    background-color: #dadada;
    height: 1px;
    width: 16px;
    position: absolute;
    transition: background-color .3s, transform .5s;
}

.menu-button:hover .menu-button.line {
    background-color: white;
}

.menu-button.line.one {
    transform: translateY(-4px);
}

.menu-button.line.two {
    transform: translateY(4px);
}

.menu-button.line.one.open {
    transform: rotate(45deg);
}

.menu-button.line.two.open {
    transform: rotate(-45deg);
}