.app.body {
    min-height: calc(100vh - 49px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.app.body .products-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}